@model LojaJogos.Models.Jogo
@{
    ViewBag.Title = "Cadastro de Jogos";
}

<h2>Dados Cadastrados com sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar", "Index")</p>
<p>@Html.ActionLink("Visualizar Jogos", "ListarJogos")</p>

