@model LojaJogos.Models.Cliente
@{
    ViewBag.Title = "Cadastro de Cliente";
}

<h2>Dados Cadastrados com sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar","Index")</p>
<p>@Html.ActionLink("Visualizar Clientes", "ListarCliente")</p>

