@model LojaJogos.Models.Funcionario
@{
    ViewBag.Title = "Cadastro de Funcionarios";
}

<h2>Dados Cadastrados com sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar","Index")</p>
<p>@Html.ActionLink("Visualizar Funcionarios","ListarFuncionario")</p>

